<div class="wrap">
  <a href="#" class="logo">
    <img src="../../../assets/logo.png" alt="logo" />
  </a>
  <div class="wrap__links">
    <a href="#" class="wrap__links-item">Home</a>
    <a href="#" class="wrap__links-item">Term of Use</a>
    <a href="#" class="wrap__links-item">Legal Notices</a>
    <a href="#" class="wrap__links-item">Manage</a>
    <a href="#" class="wrap__links-item">Account</a>
  </div>
  <div class="wrap__links">
    <a href="#" class="wrap__links-item">
      <img src="../../../assets/app store.png" alt="app-store" />
    </a>
    <a href="#" class="wrap__links-item">
      <img src="../../../assets/google-play.png" alt="google" />
    </a>
  </div>
  <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</div>
