<div class="container">
  <div class="wrap">
    <div class="logo-wrap">
      <a href="#" class="logo">
        <img src="../../assets/logo.png" alt="logo" />
      </a>

      <a
        class="link"
        [routerLink]="'movies'"
        [routerLinkActive]="'active'"
        *ngIf="isRoot()"
      >
        <img src="../../../assets/icon-movies.png" alt="movies" />
        Movies
      </a>
      <a
        class="link"
        [routerLink]="'series'"
        [routerLinkActive]="'active'"
        *ngIf="isRoot()"
      >
        <img src="../../../assets/icon-series.png" alt="series" />
        Series
      </a>
    </div>
    <button class="btn login">
      Login
      <img src="../../../assets/icon-login.png" alt="" />
    </button>
    <button class="btn trial">Strat your free trial</button>
  </div>
</div>
