@use "/src/variables.scss" as st;
@use "/src/app/styles/common.scss";

.wrap {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 8px;
  .logo-wrap {
    flex: 1;
    position: relative;
  }
}
.link {
  position: absolute;
  left: 300px;
  top: -10px;
  display: flex;
  bottom: -10px;
  align-items: center;
  gap: 12px;
  padding: 0 10px;
  &:last-child {
    left: 420px;
  }
}
.active {
  background-color: st.$red;
}

.login {
  display: flex;
  align-items: center;
  gap: 8px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.trial {
  padding: 8px 20px;
  background-color: st.$red;
  border-radius: st.$borderRadius;
}
