@use "/src/variables.scss" as st;
@use "/src/app/styles/common.scss";

.container {
  background-color: st.$red;
  padding: 10px 0;
}
.fas {
  color: st.$red;
}

.label {
  display: inline-block;
  width: 80%;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  input {
    border: none;
    width: 100%;
    &::placeholder {
      color: st.$gray;
    }
  }
}
