@use "/src/variables.scss" as st;

.card {
  width: 240px;
  height: 240px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    .descriptions {
      height: 100px;
    }
  }
}

.fa {
  color: st.$red;
}
.descriptions {
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 27px;
  transition: all linear 250ms;
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .year {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    margin-bottom: 4px;
    span {
      padding-top: 2px;
    }
  }
  .text {
    font-size: 12px;
  }
}
